header {
  display: flex;
  justify-content: space-between;
  background-color: white;
  align-items: center;
  /*  box-shadow: 0px 0px 2px 1px var(--color-brown); */
}

.header__brand img {
  height: 90px;
}
.header__list {
  list-style-type: none;
  background-color: white;
  flex-direction: column;
  width: 100%;
  display: none;
  padding: 0;
  position: absolute;
  align-items: center;
}

.header__list--item {
  margin: 10px;
  color: var(--color-dark);
  font-size: 2rem;
}

.header__contact,
.header__cart {
  transform: scale(1);
}
.header__contact:hover,
.header__cart:hover {
  transform: rotateY(180deg);
  transition: 1s;
}

.active {
  text-decoration: underline;
  font-weight: bold;
}

.show {
  display: flex;
}

/* Media Queries */

@media (min-width: 601px) {
  .header__list--icons {
    transform: scale(1.6);
    margin-right: 40px;
  }

  .minimenu {
    display: none;
  }

  header {
    justify-content: center;
  }

  .header__list {
    display: flex;
    flex-direction: row;
    position: inherit;
    justify-content: space-evenly;
  }
}
@media (min-width: 768px) {
  .header__brand img {
    height: 120px;
    margin-top: 10px;
  }

  .header__list--item {
    font-size: 3rem;
  }
}
