.products__introduction {
  position: absolute;
  z-index: 1;
  right: 0;
  left: 0;
  text-align: center;
  color: var(--color-dark);
}

.collection__image {
  width: 100%;
  margin: auto;
  margin-bottom: 2rem;
  filter: drop-shadow(-1px 0px 3px var(--color-dark));
  opacity: 0.4;
}

.categories {
  background-color: var(--color-light-bg);
  display: grid;
  margin-top: 2rem;
  grid-gap: 5px;
  grid-template-columns: 1fr;
  width: 100%;
  justify-items: center;
  padding: 1rem 0;
  text-align: center;
}

.categories__item {
  position: relative;
}

.categories__item:hover {
  filter: grayscale(1);
  transition: 0.7s ease;
}

.categories__item--link {
  width: 85%;
  box-shadow: 0px 0px 5px 0px var(--color-brown);
}

.categories__link--header {
  background-color: var(--color-dark-bg);
  width: 85%;
  color: white;
  margin: auto;
  padding: 5px;
  position: absolute;
  left: 0;
  right: 0;
}

@media (min-width: 768px) {
  .categories {
    grid-template-columns: repeat(3, 1fr);
  }

  .categories {
    margin-top: 0;
  }

  .products__introduction {
    width: 50%;
    margin: auto;
    padding-top: 3rem;
  }
}
