body {
  font-family: "Kanit", sans-serif;
}

h1,
h2,
h3,
a,
li {
  font-family: "Radley", serif;
}

.text__block {
  text-align: left;
  margin: 10px 20px;
  background-color: var(--color-dark-soft);
  font-size: 1.2rem;
  padding: 5px;
  border-radius: 5px;
}

@media (min-width: 601px) {
  .text__block {
    width: 50%;
    margin: 1rem auto;
  }
}

@media (min-width: 768px) {
  .text__block {
    font-size: 1.5rem;
    width: 500px;
  }

  h1 {
    font-size: 2.5rem;
  }
  h4 {
    font-size: 1.5rem;
  }
}
