body {
  font-family: Kanit, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
  font-family: "Cormorant Upright", serif;
}

main a {
  font-family: "Noto Serif Display", serif;
}

.text__block {
  text-align: left;
  margin: 10px 20px;
  background-color: var(--color-dark-soft);
  padding: 5px;
  border-radius: 5px;
}

@media (min-width: 601px) {
  .text__block {
    margin: 1rem auto;
  }
}

@media (min-width: 768px) {
  p {
    font-size: 1.5rem;
  }
  .text__block {
    width: 500px;
  }

  h1 {
    font-size: 2.5rem;
  }
  h4 {
    font-size: 1.5rem;
  }
}
